<<<<<<< HEAD
body{
	background: url('../img/bg.png') repeat;
}


/* dispositivo : mobile xxxxxx;*/

@media only screen and (min-width: 768px){
	nav .nati {
		background-color: red;
	}
=======
body {
    background-color: lightblue;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }

    nav.nati {
    	background-color: red;
    }
>>>>>>> d9d8176ff2d8556363e6ee434849fdacae8c69d8
}