body{
    background: url('../img/bg.png') repeat;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

/*Fonts*/

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebas/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebas/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebas/bebasneue_book-webfont.eot');
    src: url('../fonts/bebas/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebas/bebasneue_light-webfont.eot');
    src: url('../fonts/bebas/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebas/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebas/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebas/bebasneue_thin-webfont.eot');
    src: url('../fonts/bebas/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_thin-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinformalregular';
    src: url('../fonts/stone/sti_____-webfont.eot');
    src: url('../fonts/stone/sti_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/sti_____-webfont.woff2') format('woff2'),
         url('../fonts/stone/sti_____-webfont.woff') format('woff'),
         url('../fonts/stone/sti_____-webfont.ttf') format('truetype'),
         url('../fonts/stone/sti_____-webfont.svg#stoneinformalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinformal-boldregular';
    src: url('../fonts/stone/stib____-webfont.eot');
    src: url('../fonts/stone/stib____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stib____-webfont.woff2') format('woff2'),
         url('../fonts/stone/stib____-webfont.woff') format('woff'),
         url('../fonts/stone/stib____-webfont.ttf') format('truetype'),
         url('../fonts/stone/stib____-webfont.svg#stoneinformal-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinformal-bolditalicRg';
    src: url('../fonts/stone/stibi___-webfont.eot');
    src: url('../fonts/stone/stibi___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stibi___-webfont.woff2') format('woff2'),
         url('../fonts/stone/stibi___-webfont.woff') format('woff'),
         url('../fonts/stone/stibi___-webfont.ttf') format('truetype'),
         url('../fonts/stone/stibi___-webfont.svg#stoneinformal-bolditalicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinformal-italicregular';
    src: url('../fonts/stone/stii____-webfont.eot');
    src: url('../fonts/stone/stii____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stii____-webfont.woff2') format('woff2'),
         url('../fonts/stone/stii____-webfont.woff') format('woff'),
         url('../fonts/stone/stii____-webfont.ttf') format('truetype'),
         url('../fonts/stone/stii____-webfont.svg#stoneinformal-italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinformal-semiboldregular';
    src: url('../fonts/stone/stis____-webfont.eot');
    src: url('../fonts/stone/stis____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stis____-webfont.woff2') format('woff2'),
         url('../fonts/stone/stis____-webfont.woff') format('woff'),
         url('../fonts/stone/stis____-webfont.ttf') format('truetype'),
         url('../fonts/stone/stis____-webfont.svg#stoneinformal-semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneinfsemitaregular';
    src: url('../fonts/stone/stisi___-webfont.eot');
    src: url('../fonts/stone/stisi___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stisi___-webfont.woff2') format('woff2'),
         url('../fonts/stone/stisi___-webfont.woff') format('woff'),
         url('../fonts/stone/stisi___-webfont.ttf') format('truetype'),
         url('../fonts/stone/stisi___-webfont.svg#stoneinfsemitaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneregular';
    src: url('../fonts/stone/stone-webfont.eot');
    src: url('../fonts/stone/stone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stone-webfont.woff2') format('woff2'),
         url('../fonts/stone/stone-webfont.woff') format('woff'),
         url('../fonts/stone/stone-webfont.ttf') format('truetype'),
         url('../fonts/stone/stone-webfont.svg#stoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stoneitalic';
    src: url('../fonts/stone/stoni-webfont.eot');
    src: url('../fonts/stone/stoni-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stoni-webfont.woff2') format('woff2'),
         url('../fonts/stone/stoni-webfont.woff') format('woff'),
         url('../fonts/stone/stoni-webfont.ttf') format('truetype'),
         url('../fonts/stone/stoni-webfont.svg#stoneitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesansregular';
    src: url('../fonts/stone/sts_____-webfont.eot');
    src: url('../fonts/stone/sts_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/sts_____-webfont.woff2') format('woff2'),
         url('../fonts/stone/sts_____-webfont.woff') format('woff'),
         url('../fonts/stone/sts_____-webfont.ttf') format('truetype'),
         url('../fonts/stone/sts_____-webfont.svg#stonesansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesans-bolditalicregular';
    src: url('../fonts/stone/stsabi-webfont.eot');
    src: url('../fonts/stone/stsabi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stsabi-webfont.woff2') format('woff2'),
         url('../fonts/stone/stsabi-webfont.woff') format('woff'),
         url('../fonts/stone/stsabi-webfont.ttf') format('truetype'),
         url('../fonts/stone/stsabi-webfont.svg#stonesans-bolditalicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesans-italicregular';
    src: url('../fonts/stone/stsai-webfont.eot');
    src: url('../fonts/stone/stsai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stsai-webfont.woff2') format('woff2'),
         url('../fonts/stone/stsai-webfont.woff') format('woff'),
         url('../fonts/stone/stsai-webfont.ttf') format('truetype'),
         url('../fonts/stone/stsai-webfont.svg#stonesans-italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesans-semiboldregular';
    src: url('../fonts/stone/stsas-webfont.eot');
    src: url('../fonts/stone/stsas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stsas-webfont.woff2') format('woff2'),
         url('../fonts/stone/stsas-webfont.woff') format('woff'),
         url('../fonts/stone/stsas-webfont.ttf') format('truetype'),
         url('../fonts/stone/stsas-webfont.svg#stonesans-semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesans-semibolditalicRg';
    src: url('../fonts/stone/stsasi-webfont.eot');
    src: url('../fonts/stone/stsasi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stsasi-webfont.woff2') format('woff2'),
         url('../fonts/stone/stsasi-webfont.woff') format('woff'),
         url('../fonts/stone/stsasi-webfont.ttf') format('truetype'),
         url('../fonts/stone/stsasi-webfont.svg#stonesans-semibolditalicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stonesans-boldregular';
    src: url('../fonts/stone/stsb____-webfont.eot');
    src: url('../fonts/stone/stsb____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stone/stsb____-webfont.woff2') format('woff2'),
         url('../fonts/stone/stsb____-webfont.woff') format('woff'),
         url('../fonts/stone/stsb____-webfont.ttf') format('truetype'),
         url('../fonts/stone/stsb____-webfont.svg#stonesans-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Desktop media queries*/

@media screen and (min-width: 1200px){
    header{
        margin-top: 0.5%;
        background: #003366;
        height: 200px;
    }
    address{

    }
    nav .nati {
		background-color:red;
	}
}

/*Tablet media queries*/
@media screen and (max-width: 700px) {
    nav.nati {
    	background-color: blue;
    }
      .slide-text{
        display: none;
    }
}

/*Phone media queries*/
@media screen and (max-width: 400px) {
    header{
        background: #003366;
        height: 100px;
    }
    .logo{
        background: url('../img/logo.png') no-repeat;
        background-size: 80%;
        width: 30%;
        height: 100%;
        margin-left: 4%;
        background-position: left;
        float: left;
    }
    .name{
        font-family: bebas_neuebook;
        font-size: 1.2em;
        font-weight: bold;
        color: #FFFFFF;
        float: left;
        width: 60%;
        height: auto;
        margin-top: 8%;
    }
    .slide-text{
        display: none;
    }
    .iconsejo{
        background: url('../img/icons/home-icon.svg') no-repeat;
        background-size: 100%;
        float: left;
        color: #fff;
        width: 7%;
        height: 20px;
        margin-right: 2%;
    }

}
